extends layouts/default
include helpers/mixins

block variables
    - const title = "Tera"

block content
  include ../blocks/modules/header/header

    .page
      .container

            include ../blocks/modules/main/main__block
            +main()
  include ../blocks/modules/footer/footer

block scripts
  script(src="js/vendor.js")
  script(src="js/main.js")
