.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  border: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
  text-decoration: none;
  outline: none;
}

input,
button,
select,
div {
  outline: none;
}

html {
  width: 100%;
  height: 100%;
  font-size: $fontSizeMain;
}

body {
  position: relative;
  box-sizing: border-box;
  min-width: 320px;
  height: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  text-size-adjust: 100%;
  //color: $colorMain;
  font-family: $fontFamilySansSerif;
  font-weight: $fontWeightMain;
  line-height: $fontLineHeightMain;
  -webkit-font-smoothing: antialiased;
}

main {
  position: relative;
  margin-top: 100px;
  flex: 1 0 auto;
}

header, footer {
  flex: 0 0 auto;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  display: block;
  object-fit: contain;
}

h1, h2, h3, h4, h5, h6, ol, ul, p {
  margin: 0;
  padding: 0;
}

h1 {
  line-height: 150%;
}

h2 {
  line-height: 150%;
}

h3 {
  line-height: 150%;
}

h4 {
  line-height: 150%;
}

h5 {
  line-height: 150%;
}

h6 {
  line-height: 150%;
}

a {
  color: inherit;
}

.link {
  @include buttonReset;
  @include linkUnderline;
  transition: 0.3s;
  text-decoration: none;
  outline: none;
}

.button {
  @include buttonReset;
  padding: 8px 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  border: 2px solid transparent;
  border-radius: 100px;
  background: none;

  &:hover {
    color: #000000;
    border-color: #dcdcdc;
    background-color: #dcdcdc;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

    > svg {
      fill: #000000;
    }
  }

  &--action {
    color: #ffffff;
    border-color: $colorMain;
    background-color: $colorMain;

    &:hover {
      color: #000000;
      border-color: #dcdcdc;
      background-color: #dcdcdc;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

      > svg {
        fill: #000000;
      }
    }
  }

  &--border {
    color: #000000;
    border-color: $colorMain;
    background-color: transparent;

    &:hover {
      color: #ffffff;
      background-color: $colorMain;

      > svg {
        fill: #ffffff;
      }
    }

    > svg {
      fill: #000000;
    }
  }

  > svg {
    transition: 0.3s;
  }
}

.title {
  font-size: rem(40);
  font-weight: 700;
  line-height: 130%;
}

.subtitle {
  font-size: rem(24);
  font-weight: 700;
  line-height: 150%;
}

.section-offset {
  padding: 65px 0;
}

.slider-arrows {
  width: 80px;
  display: flex;
  align-items: flex-end;
  flex: 0 0 auto;
  justify-content: space-between;

  .icon {
    width: 0.4em;
    transition: 0.3s;
    fill: #000000;
  }

  > * {
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      .icon {
        fill: #dcdcdc;
      }
    }

    &[aria-disabled="true"] {
      cursor: default;
      pointer-events: none;
      opacity: 50%;
    }
  }
}

.custom-input {
  position: relative;
  margin: 0;
  padding: 0;

  &__input {
    box-sizing: border-box;
    width: 100%;
    padding: 5px 10px;
    transition: 0.3s;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    background: transparent;

    &:focus {
      border-color: $colorMain;
    }
  }

  &__label {
    margin-bottom: 0;
    padding-right: 5px;
    display: block;
    transition: 0.3s;
    pointer-events: none;

    &--require {
      > span {
        color: #ff0000;
      }
    }
  }

  &__alert {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    margin-bottom: -10px;
    transition: all 0.15s;
    text-align: center;
    pointer-events: none;
    opacity: 0;
    color: #ff0000;
    font-size: 13px;

    p {
      margin: 0;
    }
  }

  &.error {
    .custom-input {
      &__input {
        border-color: #ff0000;
      }

      &__alert {
        margin-bottom: -25px;
        opacity: 1;
      }
    }
  }

  &.success {
    .custom-input {
      &__input {
        border-color: #27ae60;
      }

      &__alert {
        margin-bottom: -10px;
        opacity: 0;
      }
    }
  }
}

.custom-checkbox {
  position: relative;

  &__input {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    pointer-events: none;
    opacity: 0;

    &:checked {
      + .custom-checkbox__label .custom-checkbox__toggle {
        border-color: $colorMain;

        svg {
          transform: scale(1);
          opacity: 1;
        }
      }
    }
  }

  &__label {
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    &:hover {

      .custom-checkbox__toggle {
        border-color: $colorMain;
      }
    }

    a {
      transition: 0.3s;
      color: #000000;
    }
  }

  &__toggle {
    content: "";
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    justify-content: center;
    transition: 0.3s;
    border: 1px solid #dcdcdc;
    border-radius: 5px;

    svg {
      padding: 2px;
      transition: 0.3s;
      transform: scale(0);
      opacity: 0;
    }
  }

  &__text {
    margin-top: 3px;
    display: flex;
    flex-direction: column;
    line-height: 150%;
  }
}

.custom-radio {
  position: relative;
  display: inline-block;

  &__input {
    position: absolute;
    z-index: -1;
    width: 0.1px;
    height: 0.1px;
    overflow: hidden;
    opacity: 0;

    &:checked {
      + .custom-radio__label {
        &::before {
          border-width: 3px;
        }

        &--iconic {
          padding-top: 9px;
          padding-right: 29px;
          padding-bottom: 9px;
          padding-left: 39px;
          border: 2px solid $colorMain;

          &::before {
            margin-top: -1px;
            margin-left: -1px;
            background-color: $colorMain;
          }
        }
      }
    }
  }

  &__label {
    position: relative;
    padding-left: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: rem(14);

    &::before {
      content: "";
      position: absolute;
      left: 16px;
      width: 16px;
      height: 16px;
      margin-top: -2px;
      transition: 0.15s;
      border: 1px solid $colorMain;
      border-radius: 50%;
    }

    &--iconic {
      margin-bottom: 10px;
      padding-top: 10px;
      padding-right: 30px;
      padding-bottom: 10px;
      transition: 0s;
      border: 2px solid #dcdcdc;
      border-radius: 50px;

      .icon {
        margin-right: 10px;
        margin-left: 10px;
        transition: 0.3s;
        font-size: 1.5rem;
      }

      &::before {
        margin-top: -1px;
        transition: 0s;
      }

      &:hover {
        padding-top: 9px;
        padding-right: 29px;
        padding-bottom: 9px;
        padding-left: 39px;
        border: 2px solid $colorMain;

        &::before {
          margin-top: -1px;
          margin-left: -1px;
        }
      }
    }

    * {
      pointer-events: none;
    }
  }
}

.custom-textarea {
  position: relative;
  margin: 0;
  padding: 0;

  &__area {
    box-sizing: border-box;
    width: 100%;
    min-height: 170px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    resize: none;
    transition: 0.3s;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    outline: none;
    background: transparent;

    &:focus {
      border-color: $colorMain;
    }
  }

  &__label {
    padding-right: 5px;
    display: block;
    transition: 0.3s;
    pointer-events: none;

    > span {
      color: #ff0000;
    }
  }

  &.error {
    textarea {
      border-color: $colorMain;
    }
  }
}

.custom-inputfile {
  position: relative;
  margin: 0;
  margin-top: 20px;
  padding: 0;

  &__input {
    position: absolute;
    z-index: -1;
    width: 0.1px;
    height: 0.1px;
    overflow: hidden;
    opacity: 0;
  }

  &__label {
    display: inline-block;
    cursor: pointer;
    transition: 0.3s;
    font-size: rem(14);
    font-weight: 700;

    * {
      pointer-events: none;
    }

    > svg {
      margin-right: 15px;
      fill: $colorMain;
      font-size: rem(40);
    }
  }
}

@media screen and (max-width: 1600px) {
  .title {
    font-size: rem(30);
  }

  .section-offset {
    padding: 45px 0;
  }
}

@media screen and (max-width: 1440px) {
  .title {
    font-size: rem(26);
  }

  .subtitle {
    font-size: rem(20);
  }

  .section-offset {
    padding: 45px 0;
  }
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 992px) {
  .section-offset {
    padding: 25px 0;
  }
}

@media screen and (max-width: 768px) {
  .col {
    width: 100%;
    margin: 15px 0;
  }
}
